.popup_register {
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  height: calc(100vh - 270px);
}

@media screen and (max-width: 768px) {
  .popup_register {
    height: calc(100vh - 180px);
  }
}