.header {
  margin: 0 auto;
  max-width: 880px;
  padding: 45px 19px 40px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .header {
  padding-left: 27px;
  padding-top: 28px;
  padding-bottom: 32px;
  border-bottom: 1px solid #545454;
}
}