.elements__item-numbers {
  margin-top: 22px;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  color: black;
}