.form__login {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
}

.form__login:hover {
  cursor: pointer;
  opacity: 0.6;
}