.popup__edit-close {
  background-image: url(../../../images/close.svg);
  background-color: transparent;
  background-size: cover;
  width: 32px;
  height: 32px;
  border: none;
  padding: 0;
  position: absolute;
  left: 440px;
  top: -42px;
}

.popup__edit-close:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
}

@media screen and (max-width: 560px) {
  .popup__edit-close {
    width: 20px;
    height: 20px;
    left: 262px;
    top: -36px;
  }
}
